@import 'colors.scss';
@import 'fonts.scss';
@import 'mixins.scss';

.earn{
  background: $secondary;
  height: 100%;
  width: 100%;
  &__wrapper{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 108px;
    .circles {
      display: flex;
      justify-content: center;
      align-items: center;
      &__circle {
        margin-left: -226px;
        background: $secondary;
        width: 545px;
        height: 550px;
        border: 6px solid $primary;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .text-bold{
          font-family: 'Impact';
          line-height: 85.38px;
          font-size: 70px;
          color: $primary;
        }
      }
    }  
    .info{
      max-width: 880px;
      padding: 0 100px;
      .text-bold{
        color: $primary;
        line-height:41.4px ;
        margin-bottom: 64px;
      }
      .link{
        &__item{
          color: $primary;
        }
        .text-light{
          font-size: 22px;
          margin-bottom: 25px;
        }
        .text-light::before{
          content: "\2022"; 
          color: $primary;
          font-weight: bold;
          display: inline-block; 
          width: 1em;
        }
      }
    }
  }
}

@media screen and (max-width:1250px) {
  .earn{
    &__wrapper{ 
      .circles {
        &__circle {
          width: 400px;
          height: 400px;
          .text-bold{
            font-size: 60px;
          }
        }
      }
      .circles img{
        width: calc(736px - 150px );
      }
    }
  }
}

@media screen and (max-width:1000px) {
  .earn{
    &__wrapper{ 
      .circles {
        &__circle {
          width: 350px;
          height: 350px;
          .text-bold{
            font-size: 50px;
          }
        }
      }
      .circles img{
        width: calc(736px - 220px );
      }
    }
  }
}

@media screen and (max-width:800px) {
  .earn{
    &__wrapper{ 
      .info{
        .text-bold{
          font-size: 28px;
        }
        .link{
          .text-light{
            font-size: 18px;
          }
        }
      }
      .circles {
        &__circle {
          width: 250px;
          height: 250px;
          margin-left: -126px;
          border: 3px solid $primary;
          .text-bold{
            font-size: 30px;
            line-height: 55.38px;
          }
        }
      }
      .circles img{
        width: calc(736px - 370px );
      }
    }
  }
}

@media screen and (max-width:600px) {
  .earn{
    &__wrapper{ 
      .info{
        padding: 0 20px;
        .text-bold{
          font-size: 16px;
        }
        .link{
          .text-light{
            font-size: 14px;
          }
        }
      }
      .circles {
        &__circle {
          width: 150px;
          height: 150px;
          margin-left: -69px;
          border: 2px solid $primary;
          .text-bold{
            font-size: 18px;
            line-height: 25.38px;
          }
        }
      }
      .circles img{
        width: calc(736px - 510px );
      }
    }
  }
}