@font-face {
  font-family: 'Arial-bold';
  src: url(../fonts/ofont.ru_ArialL.ttf);
}

@font-face {
  font-family: 'Arial-light';
  src: url(../fonts/ofont.ru_ArialB.ttf);
}

@font-face {
  font-family: 'Impact';
  src: url(../fonts/ofont.ru_Impact.ttf);
}
