@font-face {
  font-family: 'Arial-bold';
  src: url(../fonts/ofont.ru_ArialL.ttf);
}

@font-face {
  font-family: 'Arial-light';
  src: url(../fonts/ofont.ru_ArialB.ttf);
}

@font-face {
  font-family: 'Impact';
  src: url(../fonts/ofont.ru_Impact.ttf);
}

.why-rostminig {
  background: #1d1b1b;
}

.why-rostminig__wrapper {
  padding: 40px;
}

.why-rostminig__wrapper .rost-mining__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 136px;
}

.why-rostminig__wrapper .rost-mining__title .shadow {
  width: 700px;
  box-shadow: 0 0 30px 50px #ff435a;
}

.why-rostminig__wrapper .rost-mining__title .text-bold {
  z-index: 1;
  font-size: 32px;
}

.why-rostminig__wrapper .rost-mining__slider {
  padding-left: 150px;
  margin-bottom: 194px;
  cursor: pointer;
}

.why-rostminig__wrapper .rost-mining__slider .swiper-slide {
  display: flex;
  flex-direction: column;
}

.why-rostminig__wrapper .rost-mining__slider .box-top {
  width: 389px;
  height: 389px;
  margin: 0 20px;
  background: #FF435A;
  border-top-right-radius: 70px;
  z-index: 1;
}

.why-rostminig__wrapper .rost-mining__slider .box-top__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 48px 50px;
}

.why-rostminig__wrapper .rost-mining__slider .box-top__content .circle {
  width: 182px;
  height: 182px;
  background: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 39px;
}

.why-rostminig__wrapper .rost-mining__slider .box-top__content .circle img {
  width: 142px;
  height: 142px;
}

.why-rostminig__wrapper .rost-mining__slider .box-top__content .text-light {
  font-size: 20px;
  line-height: 25px;
}

.why-rostminig__wrapper .rost-mining__slider .box-bottom {
  background: #FFFFFF;
  width: 389px;
  height: 76px;
  margin-top: -38px;
  border-radius: 38px;
}

.why-rostminig__wrapper .rost-mining__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 208px;
}

.why-rostminig__wrapper .rost-mining__info .info-title {
  text-align: center;
  margin-bottom: 129px;
}

.why-rostminig__wrapper .rost-mining__info .info-title .text-bold {
  display: inline-block;
  font-size: 48px;
  margin-bottom: 48px;
}

.why-rostminig__wrapper .rost-mining__info .info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.why-rostminig__wrapper .rost-mining__info .info-text .text-light {
  display: inline-block;
  font-size: 36px;
  line-height: 42px;
}

.why-rostminig__wrapper .rost-mining__info .separate {
  display: flex;
  text-align: center;
  margin-bottom: 42px;
}

.why-rostminig__wrapper .rost-mining__info .separate .text-light {
  line-height: 42px;
}

@media screen and (max-width: 900px) {
  .why-rostminig {
    background: #1d1b1b;
  }
  .why-rostminig__wrapper {
    padding: 40px;
  }
  .why-rostminig__wrapper .rost-mining__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 136px;
  }
  .why-rostminig__wrapper .rost-mining__title .shadow {
    width: 550px;
    box-shadow: 0 0 30px 50px #ff435a;
  }
  .why-rostminig__wrapper .rost-mining__title .text-bold {
    line-height: 40px;
    text-align: center;
    z-index: 1;
    font-size: 32px;
  }
  .why-rostminig__wrapper .rost-mining__info .info-title .text-bold {
    display: inline-block;
    font-size: 32px;
    margin-bottom: 48px;
  }
  .why-rostminig__wrapper .rost-mining__info .info-text .text-light {
    display: inline-block;
    font-size: 28px;
    line-height: 42px;
    text-align: start;
  }
  .why-rostminig__wrapper .rost-mining__slider {
    padding: 0;
  }
  .why-rostminig__wrapper .rost-mining__slider .box-top {
    width: 289px;
    height: 289px;
    margin: 0 20px;
    background: #FF435A;
    border-top-right-radius: 70px;
    z-index: 1;
  }
  .why-rostminig__wrapper .rost-mining__slider .box-top__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0px;
  }
  .why-rostminig__wrapper .rost-mining__slider .box-top__content .circle {
    width: 120px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 39px;
  }
  .why-rostminig__wrapper .rost-mining__slider .box-top__content .circle img {
    width: 120px;
    height: 120px;
  }
  .why-rostminig__wrapper .rost-mining__slider .box-top__content .text-light {
    font-size: 20px;
    line-height: 25px;
  }
  .why-rostminig__wrapper .rost-mining__slider .box-bottom {
    width: 289px;
  }
}

@media screen and (max-width: 600px) {
  .why-rostminig {
    background: #1d1b1b;
  }
  .why-rostminig__wrapper {
    padding: 20px;
  }
  .why-rostminig__wrapper .rost-mining__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 136px;
  }
  .why-rostminig__wrapper .rost-mining__title .shadow {
    width: 250px;
    box-shadow: 0 0 30px 50px #ff435a;
  }
  .why-rostminig__wrapper .rost-mining__title .text-bold {
    line-height: 30px;
    text-align: center;
    z-index: 1;
    font-size: 22px;
  }
  .why-rostminig__wrapper .rost-mining__info {
    padding-bottom: 50px;
  }
  .why-rostminig__wrapper .rost-mining__info .info-title .text-bold {
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 48px;
  }
  .why-rostminig__wrapper .rost-mining__info .info-title .text-light {
    font-size: 18px;
  }
  .why-rostminig__wrapper .rost-mining__info .info-text .text-light {
    padding: 20px;
    display: inline-block;
    font-size: 14px;
    line-height: 42px;
    text-align: start;
  }
  .why-rostminig__wrapper .rost-mining__slider {
    padding: 0;
  }
  .why-rostminig__wrapper .rost-mining__slider .box-top {
    width: 189px;
    height: 189px;
    margin: 0 20px;
    background: #FF435A;
    border-top-right-radius: 70px;
    z-index: 1;
  }
  .why-rostminig__wrapper .rost-mining__slider .box-top__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0px;
  }
  .why-rostminig__wrapper .rost-mining__slider .box-top__content .circle {
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .why-rostminig__wrapper .rost-mining__slider .box-top__content .circle img {
    width: 40px;
    height: 40px;
  }
  .why-rostminig__wrapper .rost-mining__slider .box-top__content .text-light {
    font-size: 15px;
    line-height: 25px;
  }
  .why-rostminig__wrapper .rost-mining__slider .box-bottom {
    width: 189px;
  }
}
